<div>
    <h1>Display All created account List</h1>
</div>
<div class="container">
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Request id</th>
            <th>Submitted By</th>
            <th>Submitted Date</th>
            <th>Approved By</th>
            <th>Approval Date</th>
            <th>Status</th>
            <th>Account Number</th>
            <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accountList">
          <td>{{ account.reruestId }}</td>
          <td>{{ account.submittedBy }}</td>
          <td>{{ account.submittedDate | date :'dd-MMM-yy hh:mm' }}</td>
          <td>{{ account.approvedBy }}</td>
          <td>{{ account.approvalDate }}</td>
          <td>{{ account.status }}</td>
          <td>{{ account.accountNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>